/* Login.css */
body {
  background-color: #f9f9f9;
  background-image: url('../resource/FK.JPG');
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  max-width: 400px;
  width: 100%;
}

.d-flex {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
}

.form-label {
  margin-bottom: 8px;
  color: #555;
  font-size: 16px;
}

.form-control {
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 6px;
  width: 100%;
  box-sizing: border-box;
  transition: border-color 0.3s;
  font-size: 16px;
}

.form-control:focus {
  border-color: #007bff;
}

.form-select {
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 6px;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
}

.d-flex .form-check {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.form-check-input {
  margin-right: 10px;
  cursor: pointer;
}

.form-check-label {
  margin: 0;
  cursor: pointer;
}

.forgot-password {
  margin-top: 10px;
  text-align: right;
}

.forgot-password a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s;
  font-size: 14px;
  padding-top: 5px;
}

.forgot-password a:hover {
  color: #0056b3;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  padding: 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
  text-transform: uppercase;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-block {
  width: 100%;
  margin-top: 10px;
}
