body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-primary {
    background-color: #007bff;
    color: white; 
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px
}